.btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(215,192,248, 0.5);
    cursor: default;
}
.btn:not(:disabled){
    background-color: #8a75f9;
    color: white;
    cursor: pointer;
}
/* .button:hover {
    background-color: #8a75f9; 
    border-radius: 10px;
    transition: 0.5s;
}
.button:hover .btn {
    color: white;
    transition: 0.5s;
} */
.button {
    margin: 20px 0 0 0;
}